*{
    margin: 0%;
    padding: 0%;
}
.main-header{
    position: relative;
    display: flex;;
   justify-content: space-between;
    font-style: italic;
    background-color:gray;
    letter-spacing: 2px;
    padding: 2px;
}
.main-header .h1{
    text-align: center;
    }
    .main-header ul{
        padding-top: 30px;
    }
.main-header ul li{
    list-style-type:none;
    display: inline;
    margin: 5px;
    font-size: larger;
}
.main-header ul li a{
    text-decoration: none;
    letter-spacing: 0px;
 }
 .main-header ul li a:hover{
    background-color: blueviolet;
    padding: 5px 10px;
    border-radius: 20px;

 }
.main-header img{
    height: 100px;
    width: 70px;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;

}
.main-header h1{
    font-size: 70px;
    font-style: italic;
    text-shadow: 3px 2px 2px rgb(149, 180, 62);
    animation: color 5s;

}
.product{
    height: 40vh;
    gap: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    background-color:rgb(105, 104, 104);
        
   
}
.product .container1{
    position: relative;
    background-color: black;
}
.product .container1 a img{
    height: 200px;
    width: 200px;
    border: 3px solid rgb(223, 190, 7) ;
    border-radius: 500px;
    position: absolute;
    left: 40px;
}
.product a img:hover{
    box-shadow:2px 2px 3px 3px white;
    border-radius: 100px;
} 
.product .container1 a h1{
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    left: 70px;
    color: blue;
}
.rajii img{
    height: 50vh;
    width: 220vh;
}