
.main-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    background-color: aqua;
    letter-spacing: 2px;
    padding: 2px;
}
.main-header .h1{
    text-align: center;
    }
    .main-header ul{
        padding-top: 30px;
    }
.main-header ul li{
    list-style-type:none;
    display: inline;
    margin: 5px;
    font-size: larger;
}
.main-header ul li a{
    text-decoration: none;
    letter-spacing: 0px;
 }
 .main-header ul li a:hover{
    background-color: blueviolet;
    padding: 5px 10px;
    border-radius: 20px;

 }
.main-header img{
    height: 90px;
    width: 70px;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
}
.main-header h1{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px blue;
    animation: color 5s;
}
.container{
    height:170vh ;
    text-align: center;
    border: 2px solid green;
    letter-spacing: 0px;
    background-color:mediumspringgreen;
    display:flex;
}
.container .box1{
    height: 40vh;
    margin: 50px;
    text-align: center;
}
.container .box1 img{
    width: 250px;
    height: 250px;
    border-radius: 50px;
}
.container .box1 .content h2{
    text-align: center;
    right: 20vh;
}
 
.container .box1  .content{
    font-size: 20px larger;
    margin: 50px;
    color: rgb(35, 35, 175);
    
}
.container .box1 .content p{
    color: rgb(6,75,121);
    font-size: 50px;
    word-spacing: 20px solid black;
}
.container .box1 form{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.container .box1 form button{
    height: 70px;
    width: 250px;
    font-size: 18px;
    font-style: italic;
    border-radius: 50px;
}
    .container .box1 form div .button1{
        background-color: rgb(3,3,82);
        color: white;
    }
    .container .box1 form button{
        background-color: rgb(214,221,231 );
        color:rgb(11,33,92);
    }
    .container .box1 form div .button1:hover{
        padding: 5px;
    }
    .container2{
        position: relative;
        height: 250vh;
        width: 205vh;
        text-align: center;
        background-color: orangered;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    h4{
        margin: 10px;
        text-align: center;
        color: rgb(32,32,122);
    }
    .container2 .box3{
        height: 90vh;
        border-radius: 40px;
        background-color: aliceblue;
    }
    .container2 .box3 img{
        width: 200px;
        border-radius: 40px 40px 0px 0px;
    }
    .container2 .box3 .para{
        margin: 50px;
        font-size: large;
        color:aqua;
        font-weight: bold;
    }
    h3{
        color: blueviolet;
    }
    .container2 .box3 img{
        height: 56px;
        width: 60px;
    }
    .container2 .box3 .image{
        height: 240px;
        width: 300px;
    
    }
    .container2 .box3 .logo{
        display: flex;
    }
    .container2 form button{
        height: 70px;
        width: 200px;
        font-size: 18px;
        border-radius: 50px;
        position: absolute;
        left: 40%;
        background-color: rgb(3,3,82);
        color:white;
    } 
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    footer .container{
        background-color: black;
        height: 350px;
    }
    
    .row{
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;
    }
    .footer-col ul{
        list-style: none;
    }
    
    .footer-col h4{
        color: white;
        margin-bottom: 25px;
        font-size: 22px;
        position: relative;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .footer-col h4::before{
        content: '';
        width: 70px;
        height: 2px;
        position: absolute;
        background-color: #e91e64;
        bottom: -10px;
    }
    
    .footer-col ul li{
        padding: 10px 0;
    }
    .footer-col ul li a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        opacity: 0.7;
        transition: 0.5s;
    }
    .footer-col ul li a:hover{
        opacity: 1;
    }
    .footer-col input{
        border: none;
        width: 250px;
        height: 45px;
        display: block;
        padding-left: 20px;
        margin: 14px 0;
    }
    
    .footer-col .inputSubmit{
        padding: 0px 20px;
        background-color: #e91e64;
        border: none;
        color: white;
    }
    .col p{
        color: white;
    }
    
    
    @media (max-width: 600px){
        footer .row{
            flex-direction: column;
            padding: 20px 30px;
        }
    
        footer .footer-col ul{
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .footer-col input{
            width: 100%;
        }
    }
    
   